@import "../colors";

.home.container {
  .component {
    clear: both;
    overflow: auto;
    padding: 40px 0;
    border-bottom: 1px solid $light-grey;
    h1 {
      color: $red;
      text-transform: uppercase;
      font-size: 1.4em;
    }
    h2 {
      @extend .sans;
      color: #cccccc;
      font-size: 1.2em;
      float: right;
      margin-top: -35px;
    }
  }
}
