/*!
 * Roots with Foundation 1.0
 */

@import "foundation/normalize.scss";
@import "foundation/foundation.scss";

@import "buttons";
@import "colors";
@import "global";
@import "type";
@import "util";

@import "components/disaster-dashboard";
@import "components/footer";
@import "components/header";
@import "components/hero";
@import "components/horizontal-image-slider";
@import "components/logo";
@import "components/main-nav";
@import "components/mega-menu";
@import "components/news-listing";
@import "components/news-room";
@import "components/related";
@import "components/search";
@import "components/secondary-nav";
@import "components/social-nav";


@import "containers/content-detail";
@import "containers/home";

.body-wrap {
  min-height: 1000px;
  overflow: auto;
}



/* ==========================================================================
   Base
   ========================================================================== */

body { }

.bolded{
  font-weight: 700;
}

p img{
  padding: 10px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  background: #fff !important;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 8px;
  color: rgb(153, 153, 153) !important;
}
.top-bar-section ul li>a {
  font-size: 16px;
}
.top-bar-section .dropdown li a {
  color: rgb(153, 153, 153) !important;
}
.top-bar-section ul li:hover>a {
  color: rgb(153, 153, 153) !important;
}
.top-bar-section .has-dropdown>a{
  padding-right: 10px !important;
  .caret{
    display: none !important;
    background: transparent;
  }
}

.main-nav{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  position: relative;
}
.accordion{
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.accordion dd>.main-menu-stack {
  margin-right: 10px;
  padding: 5px 15px;
  max-width: 30%;
  display: inline-block;
  font: 900 21px "Roboto Slab", serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.accordion dd>.main-menu-stack.linkactive{
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion dd.active>.disasters-link{
  background: rgba(189, 172, 133, 1);
}
.accordion dd.active>.services-link {
  background: rgba(156, 66, 43, 1);
}
.accordion dd.active>.learning-link {
  background: rgba(57, 134, 168, 1);
}

.accordion dd>.disasters-link {
  background: rgba(189, 172, 133, 1);
  &:hover{
    background: rgba(189, 172, 133, .8);
  }
}
.accordion dd>.services-link {
  background: rgba(156, 66, 43, 1);
  &:hover{
    background: rgba(156, 66, 43, .8);
  }
}
.accordion dd>.learning-link {
  background: rgba(57, 134, 168, 1);
  &:hover{
    background: rgba(57, 134, 168, .8);
  }
}
.accordion .content.disasters-panel.active{
  background: rgba(189, 172, 133, 1);
}

.accordion .content.services-panel.active{
  background: rgba(156, 66, 43, 1);
}
.accordion .content.learning-panel.active{
  background: rgba(57, 134, 168, 1);
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }
.slide-bg {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-size: cover !important;
}

.horizontal-image-slider ul li a .caption {
  padding: 20px 15px;
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: -90px;
  line-height: 1;
  color: white;
  text-align: center;
  background-color: rgba(57, 134, 168, 0.8);
  -webkit-transition: bottom 300ms;
  -moz-transition: bottom 300ms;
  -o-transition: bottom 300ms;
  transition: bottom 300ms;
}
.news-room {
  h3 {
    font-weight: 300;
  }
}
.news-listing {
  h3 {
    font-weight: 300;
  }
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }
/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }
.vcard{
  border: none;
}
.social{
  list-style: none;
  float: right;
  line-height: 16px;
  li{
    background-repeat: no-repeat;
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    height: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 16px;
    width: auto;
    position: relative;
  }
}
.tabs dd>a{
  padding: 10px 15px;
  margin-bottom: 20px;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.byline{
  line-height: 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
.the-tweets ul li a:first-child {
  display: none;
}
.newsletter-signup {
  margin-bottom: 30px;
}
.footer-header {
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-size: 24px;
}
.footer-input {
  background: rgba(255,255,255,0.3) !important;
  padding: 25px !important;
}
.footer-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  background: #72343a;
  &:hover {
    background: rgba(255,255,255,0.6);
  }
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */
