/*!
 * Roots with Foundation 1.0
 */

@import "foundation/normalize.scss";
@import "foundation/foundation.scss";

@import "buttons";
@import "colors";
@import "global";
@import "type";
@import "util";

@import "components/disaster-dashboard";
@import "components/footer";
@import "components/header";
@import "components/hero";
@import "components/horizontal-image-slider";
@import "components/logo";
@import "components/main-nav";
@import "components/mega-menu";
@import "components/news-listing";
@import "components/news-room";
@import "components/related";
@import "components/search";
@import "components/secondary-nav";
@import "components/social-nav";


@import "containers/content-detail";
@import "containers/home";

.body-wrap {
  min-height: 1000px;
  overflow: auto;
}

/* ==========================================================================
   Base
   ========================================================================== */

body { }

.bolded{
  font-weight: 700;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }
.disaster-dashboard{
  h1{
    font-weight: 700;
  }
}
.horizontal-image-slider ul li a .caption {
  bottom: -100px;
  -webkit-transition: bottom 300ms;
  -moz-transition: bottom 300ms;
  -o-transition: bottom 300ms;
  transition: bottom 300ms;
  padding: 20px 15px;
  background-color: rgba(57, 134, 168, 0.8);
  height: 160px;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
.the-tweets ul li a:first-child{
  display: none;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */


