/*!
 * Roots with Foundation 1.0
 */

@import "foundation/normalize.scss";
@import "foundation/foundation.scss";

@import "buttons";
@import "colors";
@import "global";
@import "type";
@import "util";

@import "components/disaster-dashboard";
@import "components/footer";
@import "components/header";
@import "components/hero";
@import "components/horizontal-image-slider";
@import "components/logo";
@import "components/main-nav";
@import "components/mega-menu";
@import "components/news-listing";
@import "components/news-room";
@import "components/related";
@import "components/search";
@import "components/secondary-nav";
@import "components/social-nav";


@import "containers/content-detail";
@import "containers/home";

.body-wrap {
  min-height: 1000px;
  overflow: auto;
}



/* ==========================================================================
   Base
   ========================================================================== */

body { }

.bolded{
  font-weight: 700;
}

p img{
  padding: 10px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  background: #fff !important;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 8px;
  color: rgb(153, 153, 153) !important;
}
.top-bar-section ul li>a {
  font-size: 16px;
}
.top-bar-section .dropdown li a {
  color: rgb(153, 153, 153) !important;
}
.top-bar-section ul li:hover>a {
  color: rgb(153, 153, 153) !important;
}
.top-bar-section .has-dropdown>a{
  padding-right: 10px !important;
  .caret{
    display: none !important;
    background: transparent;
  }
}

.main-nav{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  position: relative;
}
.accordion{
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.accordion dd>.main-menu-stack {
  margin-right: 10px;
  padding: 5px 15px;
  max-width: 30%;
  display: inline-block;
  font: 900 21px "Roboto Slab", serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.accordion dd>.main-menu-stack.linkactive{
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion dd.active>.disasters-link{
  background: rgba(189, 172, 133, 1);
}
.accordion dd.active>.services-link {
  background: rgba(156, 66, 43, 1);
}
.accordion dd.active>.learning-link {
  background: rgba(57, 134, 168, 1);
}

.accordion dd>.disasters-link {
  background: rgba(189, 172, 133, 1);
  &:hover{
    background: rgba(189, 172, 133, .8);
  }
}
.accordion dd>.services-link {
  background: rgba(156, 66, 43, 1);
  &:hover{
    background: rgba(156, 66, 43, .8);
  }
}
.accordion dd>.learning-link {
  background: rgba(57, 134, 168, 1);
  &:hover{
    background: rgba(57, 134, 168, .8);
  }
}
.accordion .content.active{
  background: transparent;
}
.accordion .content.disasters-panel.active{
  background: rgba(189, 172, 133, 1);
  height: 760px;
  width: 100%;
}

.accordion .content.services-panel.active{
  background: rgba(156, 66, 43, 1);
  height: 450px;
  width: 100%;
}
.accordion .content.learning-panel.active{
  background: rgba(57, 134, 168, 1);
  height: 650px;
  width: 100%;
}
.list-link-title{
  padding-bottom: 3px;
  /* border-bottom: 1px solid #fff; */
  margin-bottom: 5px;
  a{
    font-size: 20px;
  }
}
.menu-header{
  text-align: center;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
}

.disasters-panel, .services-panel, .learning-panel{
  a, .link{
    color: #555555;
    &:hover{
      color: #fff;
    }
  }
  ul{
    list-style: none;

  }
  .tabs dd a{
    background: transparent;
  }
  .tabs dd.active a{
    background: transparent;
  }
  .left-menu{
    background: rgba(255, 255, 255, 0.3);
  }
  .center-menu{
    background: rgba(255, 255, 255, 0.5);
    ul{
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .far-right-menu{
    background: rgba(255, 255, 255, 0.8);
    ul{
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
.disaster-tabs{
  background: rgba(189, 172, 133, 1) !important;
  a{
    background: transparent;
  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }
.slide-bg {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-size: cover !important;
}

.horizontal-image-slider ul li a .caption {
  padding: 20px 15px;
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: -90px;
  line-height: 1;
  color: white;
  text-align: center;
  background-color: rgba(57, 134, 168, 0.8);
  -webkit-transition: bottom 300ms;
  -moz-transition: bottom 300ms;
  -o-transition: bottom 300ms;
  transition: bottom 300ms;
}
.news-room {
  h3 {
    font-weight: 300;
  }
}
.news-listing {
  h3 {
    font-weight: 300;
  }
}
.h2-recent-post{
  margin-bottom: 0;
}
.published-recent{

}
.author-recent{

}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }
/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }
.vcard{
  border: none;
}

.social{
  list-style: none;
  float: right;
  line-height: 16px;
  li{
    background-repeat: no-repeat;
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    height: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 16px;
    width: auto;
    position: relative;
  }
}

.tabs {
  margin-bottom: 1.25rem; /* to override the Foundation "margin-bottom: 0 !important" nonsense */
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  dd {
    > a {
      padding: 10px 15px;
      font-size: .8rem;
      font-weight: bold;
      color: #aaa;
      background: none;
      border: 1px solid transparent;
      border-width: 1px 1px 0 1px;
      border-bottom: 1px solid transparent;
      border-radius: 5px 5px 0 0;
      &:hover {
        color: $dark-grey;
        background: none;
      }
    }
    &.active {
      a {
        color: $dark-grey;
        background: none;
        border: 1px solid #ccc;
        border-width: 1px 1px 0 1px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.related-posts {
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.byline{
  line-height: 20px;
}

.social-buttons{
  display: block;
  float: right;
  li{
    line-height: 10px;
    display: inline-block;
  }
}
/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

.footer-left,
.footer-right {
  h3 {
    display: none;
  }
}

.the-tweets ul li a:first-child {
  display: none;
}
.newsletter-signup {
  margin-bottom: 30px;
}
.footer-header {
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-size: 24px;
}
.footer-input {
  background: rgba(255,255,255,0.3) !important;
  padding: 25px !important;
}
.footer-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  background: #72343a;
  &:hover {
    background: rgba(255,255,255,0.6);
  }
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
.wp-caption{
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 10px;
}
.size-full{
  max-width: 100%;
  height: auto;
  padding: 15px 15px 0 15px;
}
.wp-caption-text{
  font-size: 12px;
  line-height: 1;
  padding: 0 15px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */
