@import "../_colors";

.news-listing, .listing {
  ul {
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.meta {
  color: $mid-grey;
  .image {
    width: 100%;
    height: 160px;
    background-size: cover;
  }
}

.blog-listing {
  ul {
    li {
      padding-bottom: 20px;
    }
  }
}
