@import "../_util";
@import "../_colors";

.secondary-nav {
  ul {
    @extend .no-list;
    float: right;
    li {
      @extend .inline;
      a {
        color: $mid-grey;
        display: block;
        padding: 4px;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
